


	body
	{
	    background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%,#fff), color-stop(100%,transparent)); 
	    /* Chrome, Safari4+ */
	    background: -webkit-linear-gradient(top, #d1d5ee 0%, #d1d5ee 51%, #EEF2FF 100%);
	    /* Chrome10+, Safari5.1+ */
	    background: -moz-linear-gradient(top, #d1d5ee 0%, #d1d5ee 51%, #EEF2FF 100%);  
	     /* FF3.6+ */
	    background: linear-gradient(to bottom, #d1d5ee 0%, #d1d5ee 51%, #EEF2FF 100%);      
	    /* W3C */
	}


